@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background: linear-gradient(100deg, rgba(72, 0, 72, 1) 0%, rgba(128, 0, 128, 0.7) 100%, rgba(0, 0, 0, 1) 100%);
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
}
#title{
    color: white;
}
main{
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 60vh;
    width: 50%;
    justify-content: center;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#quiz-container{
    align-items:center;
    justify-content:center;
    display: flex;
}

#quiz-start{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    
}
#telaQuiz{
    display: none;
}
/*depois do content estilizar os spans*/
/*.reiniciar button{
    display: flex;
    justify-content: end;
    margin-left: 13px;

}
/*.continue button{
    display: flex;
    justify-content: end;
    margin-right: 9px;
    background-color: blue;

}*/
#start-btn {
    width: 95%;
    text-align: center;
    display: flex;
    gap: 18px;
    justify-content: space-around;
    border-radius: 10px;
    padding: 4px;
    color: white;
    background-color: rgb(118, 15, 118);
    font-family: "Silkscreen", sans-serif;
    margin-top: 10px;
}
button:hover{
    background-color: rgba(255, 0, 247, 0.731);
}
#botoes{
    display: flex;
    gap: 450px;
}